<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="index :: head(titleText='Show Event - Vacation Planner')">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div th:replace="index :: headerContent"> </div>
    <div th:replace="index :: drawerContent"> </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <a name="top"></a>
        <div class="page-content">
            <div class="title-screen-section mdl-typography--text-center">
                <div class="mdl-typography--display-1-color-contrast pageTitle"
                     th:text="'Show Event'">
                    Title
                </div>
                <p class="mdl-typography--headline mdl-typography--font-thin"
                   th:if="${isAccepted}==false">
                    If you do not plan to accept the event as is, please propose necessary changes or remove yourself from the participants list to further the planning process.
                </p>
                <p class="mdl-typography--headline mdl-typography--font-thin"
                   th:if="${isAccepted}==true">
                    You have accepted this event.
                </p>
            </div>

            <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col centerContentBox">
                <div class="mdl-typography--text-center">
                    <div class="mdl-typography--title"
                         th:text="${event.description}"/>
                    <br/>
                    <p>Accepted:</p>
                    <div th:each="person : ${personsAccepted}"
                        th:text="${person.name}"
                        style="display : inline-block"/>
                    <br/>
                    <br/>
                    <p>Not yet accepted:</p>
                    <div th:each="person : ${personsMissing}"
                         th:text="${person.name}"
                         style="display : inline-block"/>
                    <br/>
                    <br/>
                    <div th:text="'From: '+${event.startDate}"
                         style="display : inline-block"/>
                    <div th:text="'To: '+${event.endDate}"
                         style="display : inline-block"/>
                </div>
                <br/>
                <button type="button"
                        style="float:left"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        th:onclick="'javascript:openAcceptEvent(\'' + ${event.id} + '\');'"
                        th:if="${isAccepted}==false">
                    Accept
                </button>
                <button type="button"
                        style="float:left"
                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        th:onclick="'javascript:openUnAcceptEvent(\'' + ${event.id} + '\');'"
                        th:if="${isAccepted}==true">
                    Un-Accept
                </button>

                <div class="mdl-typography--text-right">
                    <button type="button"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            th:onclick="'javascript:openDeleteEvent(\'' + ${event.id} + '\');'">
                        Delete
                    </button>
                    <button type="button"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            th:onclick="'javascript:openEditEvent(\'' + ${event.id} + '\');'">
                        Edit
                    </button>
                </div>
            </div>
            <br/>
        </div>
        <footer th:replace="index :: footerContent"> </footer>
    </main>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>