<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="index :: head(titleText='Person Stored - Vacation Planner')">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div th:replace="index :: headerContent"> </div>
    <div th:replace="index :: drawerContent"> </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <a name="top"></a>
        <div class="page-content">
            <div class="title-screen-section mdl-typography--text-center">
                <div class="mdl-typography--display-1-color-contrast pageTitle">Event Test</div>
            </div>
            <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col centerContentBox">
                <form th:action="@{/view/events/test}"
                      th:object="${eventPlannerConfig}"
                      method="post">

                    <div class="mdl-typography--text-center">
                        <table>
                            <tr>
                                <td class="mdl-typography--text-left">
                                    <span>Persons</span>
                                </td>
                                <td class="mdl-typography--text-left">
                                    <span>Ignore Absences</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="mdl-typography--text-left">
                                    <select class="form-control"
                                            th:field="*{personIds}"
                                            multiple>
                                        <option th:each="person : ${selectablePersons}" th:value="${person.id}" th:text="${person.name}"></option>
                                    </select>
                                </td>
                                <td class="mdl-typography--text-left">
                                    <select class="form-control"
                                            th:field="*{ignoreAbsenceToLevel}">
                                        <option value="-1">Ignore nothing</option>
                                        <option th:each="level : ${selectableImportances}" th:value="${level.level}" th:text="${level}"></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="mdl-typography--text-left">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input"
                                               type="date"
                                               th:field="*{start}"
                                               id="startField">
                                        <label class="mdl-textfield__label" for="startField">Start</label>
                                    </div>
                                </td>
                                <td class="mdl-typography--text-left">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <input class="mdl-textfield__input"
                                               type="date"
                                               th:field="*{end}"
                                               id="endField">
                                        <label class="mdl-textfield__label" for="endField">End</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="mdl-typography--text-right">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Update
                        </button>
                    </div>
                </form>
            </div>
            <br/>
            <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col centerContentTableBox">
                <table class="mdl-data-table mdl-js-data-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"
                            rowspan="2"> Name </th>
                        <th th:each="month : ${months}"
                            th:colspan="${month.length}"
                            class="mdl-data-table__cell--non-numeric"
                            th:text="${month.name}"> Name </th>
                    </tr>
                    <tr>
                        <div th:each="month : ${months}">
                            <th th:each="day : ${month.days}"
                                class="mdl-data-table__cell--non-numeric"
                                th:text="${day.number}"> Name </th>
                        </div>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="peep : ${people}" style="cursor: pointer">
                        <td class="mdl-data-table__cell--non-numeric">
                            <span th:text="${peep.person.name}"> Name </span>
                        </td>
                        <td th:each="cevent : ${peep.calendarEvents}"
                            class="mdl-data-table__cell--non-numeric"
                            th:colspan="${cevent.duration}"
                            th:style="${cevent.name} == null ? 'background: white' : 'background: red'">
                            <span th:text="${cevent.name}"> Name </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric mdl-color--grey-100"
                            th:colspan="${duration}+1">
                            Remaining free times:
                        </td>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td th:each="freeEvent : ${freeTimes}"
                            class="mdl-data-table__cell--non-numeric"
                            th:colspan="${freeEvent.duration}"
                            th:style="${freeEvent.name} == null ? 'background: white' : 'background: green'">
                            <span th:text="${freeEvent.name}"> Name </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <footer th:replace="index :: footerContent"> </footer>
    </main>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
