<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="index :: head(titleText='Vacation Planner')">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div th:replace="index :: headerContent"> </div>
  <div th:replace="index :: drawerContent"> </div>
  <main class="mdl-layout__content mdl-color--grey-100">
    <a name="top"></a>
    <div class="page-content">

      <div class="title-screen-section mdl-typography--text-center">
        <div class="mdl-typography--display-1-color-contrast pageTitle">Welcome</div>
      </div>

    </div>
    <footer th:replace="index :: footerContent"> </footer>
  </main>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>