<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title id="pageTitle">Vacation Planner</title>

  <script>
    function openLogin() {
      location.href = "/login";
    }
    function openLogout() {
      location.href = "/perform_logout";
    }
    function openChangePassword() {
      location.href = "/view/changePassword";
    }
  </script>
</head>
<body>
<header th:insert="Generic/header :: header"> </header>
<h2>Welcome</h2>
<div sec:authorize="isAnonymous()">
  <input type="button"
         value="Login"
         th:onclick="'javascript:openLogin(\''+'/view/home'+'\');'"/>
</div>
<div sec:authorize="isAuthenticated()">
  <input type="button"
         value="Change password"
         th:onclick="'javascript:openChangePassword();'"/>
</div>
</body>
</html>