<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="index :: head(titleText='Edit Person - Vacation Planner')">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div th:replace="index :: headerContent"> </div>
    <div th:replace="index :: drawerContent"> </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="page-content">
            <div class="title-screen-section mdl-typography--text-center">
                <div class="mdl-typography--display-1-color-contrast pageTitle"
                     th:text="'Edit Person'">
                    Title
                </div>
            </div>

            <div class="mdl-shadow--2dp mdl-color--white mdl-cell centerContentBox dialogContentBox">
                <form th:action="@{/view/persons}"
                      th:object="${person}"
                      method="post">
                    <div class="mdl-typography--text-center">
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input"
                                   type="text"
                                   th:field="*{name}"
                                   id="nameField">
                            <label class="mdl-textfield__label" for="nameField">Name</label>
                        </div>
                        <br/>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input"
                                   type="email"
                                   th:field="*{contact}"
                                   id="contactField">
                            <label class="mdl-textfield__label" for="contactField">Contact</label>
                        </div>
                        <br/>
                        <input
                                type="hidden"
                                th:field="*{userId}"/>
                        <input
                                type="hidden"
                                th:field="*{id}"/>
                    </div>
                    <div class="mdl-typography--text-right">
                        <button type="submit"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <footer th:replace="index :: footerContent"> </footer>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
