<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="index :: head(titleText='Person Register - Vacation Planner')">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div th:replace="index :: headerContent"> </div>
    <div th:replace="index :: drawerContent"> </div>
    <div class="android-content mdl-layout__content">

        <h2>Person Register</h2>
        <table>
            <thead>
            <tr>
                <th> Name </th>
                <th> Contact </th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${persons.empty}">
                <td colspan="2"> No Person Available </td>
            </tr>
            <tr th:each="person : ${persons}" style="cursor: pointer"
                th:onclick="'javascript:openAbsencesForPerson(\'' + ${person.id} + '\');'">
                <td><span th:text="${person.name}"> Name </span></td>
                <td><span th:text="${person.contact}"> Contact Info </span></td>
            </tr>
            </tbody>
        </table>

    </div>
    <footer th:replace="index :: footerContent"> </footer>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>