<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="index :: head(titleText='Absences - Vacation Planner')">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div th:replace="index :: headerContent"> </div>
    <div th:replace="index :: drawerContent"> </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <a name="top"></a>
        <div class="page-content">
            <div class="title-screen-section mdl-typography--text-center">
                <div class="mdl-typography--display-1-color-contrast pageTitle"
                     th:text="'User: '+${titleText}">
                    Title
                </div>
            </div>

            <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col centerContentBox"
                 th:if="${person != null}">
                <div class="mdl-typography--text-center">
                    <div class="mdl-typography--title"
                         th:text="${person.name}"/>
                    <br/>
                    <div th:text="${person.contact}"/>
                </div>
                <br/>
                <div class="mdl-typography--text-right">
                    <button type="button"
                            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                            th:onclick="'javascript:openEditPerson(\'' + ${person.id} + '\');'">
                        Edit
                    </button>
                </div>
            </div>
            <br/>
            <div class="title-screen-section mdl-typography--text-center">
                <div class="mdl-typography--headline"
                     th:text="'Events'">
                    Title
                </div>
            </div>
            <div>
                <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col centerContentTableBox">
                    <table class="mdl-data-table mdl-js-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric"> Start </th>
                            <th class="mdl-data-table__cell--non-numeric"> Description </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${events.empty}">
                            <td colspan="2"
                                class="mdl-data-table__cell--non-numeric"> No Event Available </td>
                        </tr>
                        <tr th:each="event : ${events}" style="cursor: pointer"
                            th:onclick="'javascript:openShowEvent(\'' + ${event.id} + '\');'">
                            <td class="mdl-data-table__cell--non-numeric"><span th:text="${event.startDate}"> Start </span></td>
                            <td class="mdl-data-table__cell--non-numeric"><span th:text="${event.description}"> Description </span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <br/>

                <button type="button"
                        class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored staticBottomRight"
                        th:onclick="'javascript:openPlanEvent();'"
                        id="tt2">
                    <div class="mdl-tooltip" data-mdl-for="tt2">
                        Plan event
                    </div>
                    <i class="material-icons">add</i>
                </button>
            </div>
            <div class="title-screen-section mdl-typography--text-center">
                <div class="mdl-typography--headline"
                     th:text="'Absences'">
                    Title
                </div>
            </div>
            <div th:replace="Absence/list :: absenceTable"/>


        </div>
        <footer th:replace="index :: footerContent"> </footer>
    </main>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>