<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="index :: head">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div th:replace="index :: headerContent"> </div>
  <div th:replace="index :: drawerContent"> </div>
  <div class="android-content mdl-layout__content">

    <h2 th:text="'Change Password'"> Title </h2>

    <form
            th:action="@{/view/changePassword}"
            th:object="${credentials}"
            method="post">
      <p>
        Current password: <input
              type="password"
              th:field="*{password}"/>
      </p>
      <p>
        New password: <input
              type="password"
              th:field="*{newPassword}"/>
      </p>
      <p>
        Repeat password: <input
              type="password"
              th:field="*{newPassword2}"/>
      </p>
      <p>
        <input type="submit" value="Submit"/>
      </p>
      <p th:if="${credentials.wrongPassword}">
        Wrong username or password
      </p>
      <p th:if="${credentials.unequalPassword}">
        New password fields do not match
      </p>
    </form>

  </div>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>