<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:insert="index :: head">
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <div th:replace="index :: headerContent"> </div>
  <div th:replace="index :: drawerContent"> </div>
  <div class="android-content mdl-layout__content">

    <p th:if="${credentials.logout}">
      Logout successful
    </p>
    <h2 th:text="'Login'"> Title </h2>
    <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
      <form th:action="@{/login}"
            th:object="${credentials}"
            method="post">
        <p>
          Username: <input
                type="text"
                th:field="*{username}"/>
        </p>
        <p>
          Password: <input
                type="password"
                th:field="*{password}"/>
        </p>
        <button type="submit"
                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Submit
        </button>
        <p th:if="${credentials.wrongPassword}">
          Wrong username or password
        </p>
      </form>
    </div>

  </div>
  <footer th:replace="index :: footerContent"> </footer>
</div>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>
</html>
